extends layout

block content
	
	.container
	
		h1 #{title}

		p You must log in to view the contact list. 
		//- p Username: <i>admin</i>, Password: <i>password</i>
		form(action='login' method='post')#contactForm
			.form-group
				label(for='username') Username:
				input(name='username' placeholder='applePicker1774' required).form-control
			.form-group
				label(for='password') Password:
				input(type='password' name='password' placeholder='apple123' required).form-control
			br
			button(type='submit').btn.btn-primary Log In